@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 0.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
    height: 300px;
    padding: 0%;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #f3f3f3;;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 15px;
	color: black;
	text-transform: capitalize;
	margin-bottom: 25px;
	font-weight: 200;
	position: relative;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
    margin-top: 8px;
	font-size: 12px;
    line-height: 5px;
	text-transform: capitalize;
	color: black;
	text-decoration: none;
	font-weight: 300;
	color: black;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	padding-left: 8px;
}
.right{
    margin-left: 15%;
}
.right1{
    margin-left: 10%;
}
.footer-col p{
    font-size: 11px;
    line-height: 15px;
	text-transform: capitalize;
	color: black;
	text-decoration: none;
	font-weight: 300;
	color: black;
    margin-bottom: 20px;
}
.footer-col p span{
    color: #008ecc;
}
.bottom{
    display: flex;
}
.last{
    display: flex;
}
.last p{
    margin-bottom: 0px;
    margin-left: 10%;
    font-size: 12px;
	text-transform: capitalize;
	color: black;
	text-decoration: none;
	font-weight: 300;
}
.last span{
    margin-left: 10%;
    font-size: 12px;
	text-transform: capitalize;
	color: black;
	text-decoration: none;
	font-weight: 300;
}
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
hr{
    margin: 5px;
    width: 1250px;
}
